<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TaskManager App</title>
    <link href="../css/custom.css" rel="stylesheet">
    <script src="../js/model.js"></script>
    <script src="../js/controller.js"></script>
</head>
<body>
<fieldset>
    <legend>Task</legend>
<table>
    <tr>
        <td><label for="taskName">TaskName</label></td>
        <td><input id="taskName" placeholder="Type TaskName Here" type="text"/></td>
    </tr>
    <tr>
        <td><label for="taskDesc">TaskDesc</label></td>
        <td><input id="taskDesc" placeholder="Type TaskDesc Here" type="text"/></td>
    </tr>
    <tr>
        <table>
            <tr>
                <td>
                    <button id="add">Add</button>
                </td>
                <td>
                    <button id="delete">Delete</button>
                </td>
                <td>
                    <button id="search">Search</button>
                    <div id="searchDiv">
                        <input type="text" id="taskNameSearch" placeholder="Type TaskName to Search">
                    </div>
                </td>
                <td>
                    <button id="sort">Sort
                    <div id="sortDiv">
                        <select id="sortOptions">
                            <option value="name">Name</option>
                            <option value="id">Id</option>
                            <option value="desc">Desc</option>
                            </select>
                    </div>
                    </button>
                </td>
                <td>
                    <button id="save">Save</button>
                </td>
                <td>
                    <button id="load">Load</button>
                </td>
                <td>
                    <button id="clear">Clear</button>
                </td>
            </tr>
        </table>
    </tr>
</table>
</fieldset>
<fieldset>
    <legend>TaskList</legend>
    <ul id="taskList">

    </ul>
</fieldset>
</body>
</html>